/**
 * Plone specific styles for diazo and deliverance
 */
 
.kopfbild {
    background-image: url('../img/default.jpg');
}

#home,.home {
    padding-top: 12px;
    height: 124px;
}

#home a {
    display: inline-block;
    overflow: hidden;
    height: 90px;   
    color: transparent;
    background-repeat: repeat;
    background-color: transparent;
    background-position: 0 0;
    background-attachment: scroll;
    text-transform: uppercase;
}

#home a#lmu-logo {
    width: 192px;
    background-image: url('../img/blank.png');
    margin-left: 12px;
    
}

.gray-white a#lmu-logo {
    background-position: 0 0;

}

#home a#dep-logo {
    min-width: 320px;
    max-width: 545px;
    width: 545px;
    background-image: url('../img/blank.gif');
    margin-left: 12px;
}

#mainNav h5 {
    background-color: #D8D8D8;
    color: #333;
    display: block;
    text-decoration: none;
  
    text-transform: uppercase;
    font-size: 1.167em;
    //border: 1px solid #333;
    font-size: 80%;
    padding: 5px 5px 6px 10px;
    margin-top: 20px;
}

#mainNav h5:nth-of-type(1)
 {
    margin-top:0; 
}

#mainNav ul li a {
    background-color: #FFF;
    color: #333;
    display: block;
    text-decoration: none;
}

#mainNav a.navTreeCurrentItem {
    background: none repeat scroll 0 0 #D1D0CD;

}

#mainNav ul > li {
    border-bottom: 1px solid #D8D8D8;
    padding: 1px 0;
}

#mainNav ul > li > a {
    text-transform: uppercase;
    font-size: 1.167em;
    padding: 5px 5px 6px 10px;
}

div#bc a {
    color: #666;

}

div#bc ul {
    list-style: none outside none;
}

div#bc ul li {
    float: left;
    margin-right: 5px;
    padding-left: 8px;
    white-space: nowrap;
  
}

div#bc h5 {
    float: left; 
}

.content {
    min-height: 0;

}

#main {
    background-color: #fff;
    min-height: 100px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 955px;

}

#main p {
    margin-bottom: 0.5em;
}

#main li {
    list-style-type: square;
    list-style-position: outside;
    margin-left: 20px;
}

#main h1,
#main h2 {
    font-family: georgia,times new roman, times, serif;
    margin-bottom: 0.5em;
}

#main h2 {
    text-transform: none;
}

#main h1, 
#main h2,
#main h3 {
    color: #000;
    font-weight: normal;
}

#main h3 {
    margin-bottom: 0.2em;
}

#main em {
    font-style: italic; 
}

#main a {
    color: #206090;
}

#main a.buttonwhiteongreysmall,
#main a.buttonwhiteongreengreysmall,
#main a.first,
#main a.last {
    color: #FFF;
}

.formcontent {
    margin-left: 0;
    padding: 0;
    width: 100%;
}

#surveyheader {
    background: none;
}

#login, #submitted {
    background: none;
}

fieldset.m-search-wrapper {
    padding: 0 !important;
}
#tdhead {
    height: 83px;
}

#adminmainmenu, #usermainmenu {
    margin-left: 4px;
}

#submenu_wrapper {
    margin-bottom: 25px;
}

.page-startseite #maindisplay fieldset {
    display: none;
}

#topnav {
    height: auto;
    position: inherit;
    margin-right: 10px;
}

#topnav a {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2px;
    padding-left: 2px;
    color: #FFF;
    height: 31px;
    line-height: 31px;

}

#topnav a img {
    margin-top: 8px;
}

#topnav a.first {
    background: none;
    padding-left: 2px;
}

#main table {
    margin-top: 3em;
}

#mainnav {
    position: inherit;
    left:0;
    top: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #d2d2d2;
}

#mainnav > li:first-of-type {
    margin-left: 10px;
}

#topnav a.last {
    background: none;
    padding-right: 2px;
}

#main > div {
    margin-right: 0px;
    margin-left: 0px;
}

#ft {
    background: none;
    height: auto;
    padding-top: 0;
    margin-top: 2px;
}

.contentcontainer {
    width: 550px;
    padding-bottom: 0;
}

.after-content {
    margin-bottom: 1em;
}

.service {
    min-height: 0;
    width: 360px;
}

.alert-box {
    padding: 15px; 
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    color: #000;
    font-size: 150%;
}

.alert-box.info {
    border: 2px solid #74bfdd; 
    background-color: #a0d3e8; 
    border-radius: 5px; 
    color: #000;
}

.alert-box.warning {
    border: 2px solid #de770f; 
    background-color: #f08a24; 
    border-radius: 5px; 
    color: #ffffff; 
}

.left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}